<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Ankit Mallik using javascript</p>
    <img class="protrait" src="/img/img.png" />
    </div>
    
    {{>footer}}
  </body>
</html>